<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czj.modules.dict.mapper.SDictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.czj.modules.dict.domain.entity.SDict">
        <id column="id" property="id" />
        <result column="kind_code" property="kindCode" />
        <result column="code" property="code" />
        <result column="detail" property="detail" />
    </resultMap>

</mapper>
